.answer {
    display: flex;
    min-width: 500px;
    width: 80%;
    height: 80px;
    margin: 10px;
}

.answerContent {
    position: relative;
    display: flex;
    flex: 1;
}

.front,
.back {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.front {
    align-items: center;
    background-color: #fdfdfd;
    color: #010238;
    cursor: pointer;
}

.back > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct, .wrong

.correct {
    background-color: #0073ff;
}

.wrong {
    background-color: #fe1e50;
}

.alternative,
.value,
.correct,
.wrong {
    padding: 15px;
}
.alternative,
.value,
.backValue {
    font-size: 1.3rem;
    font-weight: bold;
}

.alternative {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 50px;
    color: #fdfdfd;
    background-color: #4273fe;
}
